<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HomeChat</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<script th:src="@{/webjars/react/umd/react.development.js}"></script>
	<script th:src="@{/webjars/react-dom/umd/react-dom.development.js}"></script>

	<script th:src="@{/webjars/babel-standalone/babel.min.js}"></script>
	
	<script type="text/babel" src="app.jsx"></script>
</head>
<body>
<div class="container">
	<input type="hidden" th:value="${channelId}" id="jsiChannelId"/>
    <div class="row">
        <div class="col">
            <table id="jsiConversation" class="table table-striped" >
                <thead>
                <tr>
                    <th>Time</th>
					<th>Message</th>
                </tr>
                </thead>
                <tbody id="messages">
                </tbody>
            </table>
        </div>
    </div>
	<hr>
	<div id="app"></div>
</div>
</body>
</html>